@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-body: 'LINE Seed JP', sans-serif;
}

body {
  font-family: var(--font-body);
}

main {
  width: 960px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}