---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 こんにちは, Astronaut!</h1>
			<p>
				<a href="https://astro.build/">Astro</a> 公式ブログスターターテンプレートへようこそ。
				このテンプレートは、Astroで個人のWebサイト、ブログ、ポートフォリオを構築したい人のための、
				軽量で最小限のスタイルの出発点として機能します。
			</p>
			<p>
				このテンプレートには、すでにいくつかのインテグレーションが <code
					>astro.config.mjs</code
				> ファイルに設定されています。
				<a href="https://astro.build/integrations">Astro Integrations</a> を使用してセットアップをカスタマイズし、
				Tailwind、React、Vueなどのツールをプロジェクトに追加できます。
			</p>
			<p>
				テンプレートの使用を開始するためのいくつかのアイデアを次に示します。
			</p>
			<ul>
				<li><code>src/pages/index.astro</code> でこのページを編集する</li>
				<li>
					<code>src/components/Header.astro</code> でサイトのヘッダー項目を編集する
				</li>
				<li>
					<code>src/components/Footer.astro</code> でフッターに自分の名前を追加する
				</li>
				<li>
					<code>src/content/blog/</code> にあるブログ記事を確認する
				</li>
				<li>
					<code>src/layouts/BlogPost.astro</code> でブログ記事のレイアウトをカスタマイズする
				</li>
			</ul>
			<p>
				楽しんでください！ もし行き詰まったら、
				<a href="https://docs.astro.build/">ドキュメントを読む</a>か、
				<a href="https://astro.build/chat">Discordに参加</a
				>して質問してください。
			</p>
			<p>
				もっと個性的なブログテンプレートをお探しですか？
				<a href="https://twitter.com/Charca">Maxi Ferreira</a> による
				<a href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template</a
				>
				をチェックしてみてください。
			</p>
		</main>
		<Footer />
	</body>
</html>
