---
import ProjectCard from '../components/ProjectCard.astro';
import { SITE_TITLE } from '../consts';
import { PROJECTS } from '../data/projects';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title={`Projects | ${SITE_TITLE}`}
  description="My personal projects"
>
  <main class="max-w-4xl mx-auto px-4 py-8">
    <section class="text-left">
      <h1 class="text-4xl font-bold mb-8 text-center scramble-text" data-original-text="Personal Projects">Personal Projects</h1>
      <div class="space-y-8">
        {
          PROJECTS.map((project) => (
            <ProjectCard {...project} />
          ))
        }
      </div>
    </section>
  </main>
</BaseLayout>
