---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_TITLE } from '../consts'
import ProjectCard from '../components/ProjectCard.astro'
---

<BaseLayout
  title={`Projects | ${SITE_TITLE}`}
  description="My personal projects"
>
  <main class="max-w-4xl mx-auto px-4 py-8">
    <section class="text-left">
      <h1 class="text-4xl font-bold mb-8 text-center">Personal Projects</h1>
      <div class="space-y-8">
        <ProjectCard
          title="POS-80 Thermal Printer Controller"
          description="An Astro-based web interface for controlling a POS-80 thermal printer connected to a Raspberry Pi."
          url="https://github.com/milkmaccya2/thermal-printer-app/blob/main/README.md"
          tags={[
            'Astro',
            'React',
            'Tailwind CSS',
            'Node.js',
            'pnpm',
            'Sharp',
            'Puppeteer',
            'Google Calendar API',
            'Raspberry Pi',
            'PM2',
          ]}
          linkText="View on GitHub"
        />

        <ProjectCard
          title="HostSwitch"
          description="A CLI tool for switching hosts file comfortably."
          url="https://milkmaccya2.github.io/hostswitch/en/"
          tags={['TypeScript', 'Node.js', 'Biome', 'Vitest', 'Docusaurus']}
          linkText="View Documentation"
        />

        <ProjectCard
          title="QR Note"
          description="スマホとPCのちょっとした橋渡しアプリ"
          url="https://qrnote.milkmaccya.com/"
          repoUrl="https://github.com/milkmaccya2/qrnote/blob/main/README.md"
          tags={[
            'Next.js',
            'React',
            'Tailwind CSS',
            'qrcode',
            'Web Speech API',
            'MediaRecorder API',
            'AWS S3',
            'PWA',
            'TypeScript',
          ]}
        />
      </div>
    </section>
  </main>
</BaseLayout>
